<?xml version="1.0"?>
<!-- 
/**
 * @category   Webkul
 * @package    Webkul_AmazonMagentoConnect
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <wk_amzconnectship>
                <active>1</active>
                <allowed_methods>delivery</allowed_methods>
                <methods>delivery</methods>
                <sallowspecific>0</sallowspecific>
                <model>Webkul\AmazonMagentoConnect\Model\Carrier\CustomShipping</model>
                <name>Amazon Connector Ship</name>
                <title>Amazon Connector Ship</title>
                <handling_type>F</handling_type>
            </wk_amzconnectship>
        </carriers>
        <payment>
            <amzpayment>
                <payment_action>authorize</payment_action>
                <model>Webkul\AmazonMagentoConnect\Model\Payment\AmazonPayment</model>
                <active>1</active>
                <title>Amazon Payment method</title>
                <order_status>pending_payment</order_status><!-- set default order status-->
            </amzpayment>
        </payment>
        <amazonmagentoconnect>
            <category_options>
                <default_qty>1</default_qty>
                <default_weight>1</default_weight>
                <price_rule>import</price_rule>
            </category_options>
        </amazonmagentoconnect>
    </default>
</config>