<?xml version="1.0"?>
<!-- 
/**
 * @category   Webkul
 * @package    Webkul_AmazonMagentoConnect
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="webkul_amazonmagentoconnect_catalog_product_save_after" instance="Webkul\AmazonMagentoConnect\Observer\CatalogProductSaveAfter" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="webkul_amazonmagentoconnect_sales_order_place_after_observer" instance="Webkul\AmazonMagentoConnect\Observer\SalesOrderPlaceAfterObserver" />
    </event>
</config>
