<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <referrerurl>
            <general>
                <track_order>1</track_order>
                <track_customer>1</track_customer>
            </general>
        </referrerurl>
    </default>
</config>