<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Megnor. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="megnor_shopbybrand" frontName="megnor_shopbybrand">
            <module name="Megnor_ShopByBrand" />
        </route>
    </router>
</config>