<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Segments
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_commit_after">
        <observer name="amasty_segments" instance="Amasty\Segments\Observer\CustomerEventUpdate"/>
    </event>
    <event name="customer_address_save_commit_after">
        <observer name="amasty_segments" instance="Amasty\Segments\Observer\CustomerEventUpdate"/>
    </event>
    <event name="customer_address_delete_commit_after">
        <observer name="amasty_segments" instance="Amasty\Segments\Observer\CustomerEventUpdate"/>
    </event>
</config>
