<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <virtualType name="WanexoBrandGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="WanexoBrandGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Wanexo\Brand\Model\ResourceModel\Brand\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">WanexoBrandGridFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Wanexo\Brand\Model\ResourceModel\Brand\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">wanexo_brand</argument>
            <argument name="eventPrefix" xsi:type="string">wanexo_brand_brand_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">brand_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Wanexo\Brand\Model\ResourceModel\Brand</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="wanexo_brand_listing_data_source" xsi:type="string">Wanexo\Brand\Model\ResourceModel\Brand\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
   <!--<preference for="Magento\Theme\Block\Html\Title" type="Wanexo\Brand\Block\PageHeading" /> -->
</config>
