/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
.page-print .logo {
  display: block;
  float: none;
  text-align: left;
}
@media print {
  * {
    -webkit-filter: none !important;
    background: transparent !important;
    color: #000000 !important;
    filter: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline !important;
  }
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  .table-wrapper table {
    width: 100%;
    table-layout: fixed;
  }
  .table-wrapper table td {
    width: auto;
  }
  .table-wrapper table > tfoot > tr:first-child {
    border-top: 1px solid #999999;
  }
  .box,
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    size: auto;
    margin: 1cm;
  }
  .block-content,
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  .block-content {
    page-break-before: avoid;
  }
  .block-title,
  h2,
  h3 {
    page-break-after: avoid;
  }
  .nav-toggle {
    display: none !important;
  }
  .sidebar,
  .nav-sections,
  .header.content > *[class],
  .panel.wrapper > *[class],
  .footer.content > *[class] {
    display: none;
  }
  .logo,
  .footer .copyright {
    display: block !important;
    margin: 10px 0;
  }
  .order-details-items .order-items .order-gift-message:not(.expanded-content) {
    height: auto;
    visibility: visible;
  }
  .column.main {
    float: none !important;
    width: 100% !important;
  }
  .breadcrumbs {
    margin: 0 auto;
    text-align: right;
  }
  .footer.content {
    padding: 0;
  }
  header, footer, .header-container, .copyright {display: none}
  .page-print.account .page-main{
    position: relative;
  }
  .page-print.account .logo{
    position: absolute;
    margin: 5px auto 0 0;
  }
  .page-print.account .page-main .page-title-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .page-print.account .page-main .page-title-wrapper > .page-title{
    margin: 0;
    width: 100%;
  }
  .page-print.account .page-main .page-title-wrapper > .page-title .base{
    margin: 10px 0;
  }
  .page-print.account .page-main .page-title-wrapper > .order-status, .page-print.account .page-main .page-title-wrapper > .order-date{
    margin: 0 0 10px 0;
    padding: 0 20px;
  }
  .sales-order-invoice.account .page-main .column .block-order-details-view > .block-content > .box{
    clear: none;
    float: left;
    width: 25%;
}
  a[href]:after { content: none !important; }
  
  a[href^="#"]:after {
    display: none;
  }
  
}
