@media all and (min-width: 640px) {
  .checkout-index-index .opc-wrapper.am-opc-wrapper .amcheckout-delivery-date .field {
    display: block;
    width: 50%;
  }
  .checkout-index-index .opc-wrapper.am-opc-wrapper .amcheckout-delivery-date .field:nth-child(2n) {
    padding-left: 7px;
  }
  .checkout-index-index .opc-wrapper.am-opc-wrapper .amcheckout-delivery-date .field.datepicker .control,
  .checkout-index-index .opc-wrapper.am-opc-wrapper .amcheckout-delivery-date .field.timepicker .control,
  .checkout-index-index .opc-wrapper.am-opc-wrapper .amcheckout-delivery-date .field.comment {
    width: 100%;
  }
}
@media all and (min-width: 1024px), print {
  .checkout-index-index .opc-wrapper.am-opc-wrapper .shipping-address-item {
    width: 50%;
  }
}
.checkout-index-index .authentication-wrapper {
  margin-right: 9px;
}
.checkout-index-index .checkout-header {
  margin: 12px 0 20px;
  padding: 0 9px;
}
.checkout-index-index .checkout-header .title {
  margin: 0 auto 7px;
}
.checkout-index-index .checkout-header .description {
  font-size: 18px;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper {
  float: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-2-columns .checkout-column,
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-3-columns .checkout-column {
  width: 100%;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-3-columns .shipping-address-item:nth-child(3n + 1):before {
  display: block;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-3-columns .shipping-address-item:nth-child(2n + 1):before {
  display: none;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-3-columns .shipping-address-item,
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-2-3-columns .shipping-address-item {
  width: 50%;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-3-columns .shipping-address-item:only-child,
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-2-3-columns .shipping-address-item:only-child {
  width: 100%;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-3-columns .table-checkout-shipping-method,
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-2-3-columns .table-checkout-shipping-method {
  width: 100%;
  min-width: 0;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper:before {
  display: none;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .step-content {
  margin: 0;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .shipping-address {
  margin-bottom: 0;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper #shipping-method-buttons-container {
  display: none;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper #checkout-payment-method-load .actions-toolbar {
  display: none;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper #checkout-payment-method-load .payment-method-billing-address .actions-toolbar {
  display: block;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper #co-payment-form .discount-code {
  display: none;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper #co-payment-form .rewards-add {
  display: none;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper #co-payment-form .gift-code {
  display: none;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .discount-code .payment-option-title {
  border: none;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-agreement {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-agreement .action-show {
  text-align: left;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .payment-method-content,
.checkout-index-index .opc-wrapper.am-opc-wrapper .payment-option-content {
  padding: 0 22px 20px;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .payment-option-content .action-apply {
  margin-right: 0;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .payment-method-content .primary {
  padding-right: 0;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-block > li {
  list-style-type: none;
}
.checkout-index-index .checkout-block {
  margin: 7px 9px 32px;
  padding: 24px 12px;
  background: white;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -ms-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}
.checkout-index-index .checkout-block:hover {
  box-shadow: 0 1px 4px 1px rgba(25, 121, 195, 0.45);
}
.checkout-index-index #checkout.am-checkout {
  margin: 20px 0;
  padding: 12px;
  background: #eaeaea;
}
.checkout-index-index .opc-block-summary {
  margin: -24px -12px 0;
  padding: 24px 12px;
}
.checkout-index-index .opc-block-summary .minicart-items-wrapper {
  margin: 0;
}
.checkout-index-index .additional-options {
  margin: 24px 7px 12px;
}
.checkout-index-index .additional-options .checkout-agreements .action-show {
  line-height: 1.42857143;
  padding: 0;
  color: #006bb4;
  text-decoration: none;
  background: none;
  border: 0;
  display: inline;
  font-weight: 400;
  border-radius: 0;
}
.checkout-index-index .additional-options .checkout-agreements .action-show:not(:focus) {
  box-shadow: none;
}
.checkout-index-index .additional-options .field {
  margin-top: 7px;
}
.checkout-index-index .am-gift-message .edit-link {
  display: none;
  color: #1979c3;
  cursor: pointer;
}
.checkout-index-index .am-gift-message.checked .edit-link {
  display: inline;
}
.checkout-index-index .amcheckout-delivery-date .field {
  float: left;
  padding-top: 4px;
  width: 100%;
  box-sizing: border-box;
}
.checkout-index-index .amcheckout-delivery-date .field.comment {
  width: 100%;
}
.checkout-index-index .amcheckout-delivery-date .field.datepicker,
.checkout-index-index .amcheckout-delivery-date .field.timepicker {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.checkout-index-index .amcheckout-delivery-date .field.datepicker .control,
.checkout-index-index .amcheckout-delivery-date .field.timepicker .control {
  -webkit-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 60%;
}
.checkout-index-index .amcheckout-delivery-date .field.datepicker .control .ui-datepicker-trigger {
  margin-left: 7px;
}
.checkout-index-index .amcheckout-delivery-date .field .label {
  display: block;
  margin: 12px 0;
}
.checkout-index-index .amcheckout-delivery-date .clearer {
  clear: both;
}
.checkout-index-index .amcheckout-delivery-date .field._required > .label:after,
.checkout-index-index .additional-options .field._required .label:after {
  margin: 0 0 0 5px;
  font-size: 1.2rem;
  content: '*';
  color: #e02b27;
}
.checkout-index-index .opc-block-summary .minicart-items input[type='number']::-webkit-inner-spin-button,
.checkout-index-index .opc-block-summary .minicart-items input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button !important;
}
.checkout-index-index .opc-block-summary .minicart-items input[type='number']:focus {
  -moz-appearance: spinner !important;
}
.checkout-index-index .opc-block-summary .minicart-items input.qty {
  width: 55px;
}
.checkout-index-index .opc-block-summary .minicart-items button {
  margin-top: 12px;
  float: right;
}
.checkout-index-index .opc-block-summary .minicart-items .delete {
  float: left;
  padding: 3px;
  width: 7px;
  height: 7px;
  border: 1px #b6b6b6 solid;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTS0xLTFoMTJ2MTJILTF6Ii8+PHBhdGggZmlsbD0iI2I1YjViNSIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBkPSJNNiA1bDQtNC0xLTEtNCA0LTQtNC0xIDEgNCA0LTQgNCAxIDEgNC00IDQgNCAxLTEtNC00eiIgc3Ryb2tlPSJudWxsIi8+PC9zdmc+) no-repeat center;
  background-size: 7px;
  cursor: pointer;
}
.checkout-index-index .opc-block-summary .minicart-items .product-item-details {
  padding-left: 118px;
}
.checkout-index-index .opc-block-summary .minicart-items .product-image-container {
  margin-left: 16px;
}
@media (min-width: 900px) {
  .checkout-index-index .opc-wrapper.am-opc-wrapper {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .checkout-index-index .opc-wrapper.am-opc-wrapper.layout-2-columns .checkout-column {
    width: 50%;
  }
  .checkout-index-index .opc-wrapper.am-opc-wrapper.layout-3-columns .checkout-column {
    width: 33.3%;
  }
}
.checkout-index-index #opc-shipping_method #checkout-shipping-method-load .table-checkout-shipping-method {
  max-width: 600px;
}
.checkout-index-index #opc-shipping_method #checkout-shipping-method-load .table-checkout-shipping-method .col-price {
  min-width: unset;
}
.checkout-index-index .modal-popup:not(.agreements-modal):not(.popup-authentication) .modal-inner-wrap {
  right: 0;
  left: 0;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.checkout-payment-method .payment-methods {
  margin: 0;
}
.checkout-payment-method .payment-methods .actions-toolbar .primary {
  padding: 14px 17px;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.checkout-payment-method.submit .payment-methods {
  margin: 0;
}
.fieldset.address {
  margin: 0 -7px;
}
.fieldset.address > .field {
  display: inline-block;
  padding: 0 7px;
  width: 100%;
  vertical-align: top;
  box-sizing: border-box;
}
.checkout-success .success-messages {
  margin-bottom: 40px;
  font-size: 1.8rem;
}
.account .column.main .order-details-items {
  margin-bottom: 0;
}
.account .column.main .order-details-items .order-items .data.table > tbody > tr:nth-child(even) > td {
  background: none;
}
.page-main .block.block-order-details {
  margin-bottom: 25px;
}
.page-main .block.block-order-details .delivery {
  float: right;
  font-weight: bold;
}
.page-main .block.block-order-details .delivery .delivery-field {
  float: left;
  margin-left: 12px;
}
.page-main .block.block-order-details .order-date {
  padding-bottom: 25px;
  border-bottom: 1px solid #c6c6c6;
  font-size: 1.6rem;
}
.page-main .block.block-order-details-comments {
  margin-bottom: 35px;
}
.page-main .block.block-order-details-view {
  margin-bottom: 10px;
}
.page-main .block.block-order-details-view:nth-child(2) .block-title {
  display: none;
}
#registration {
  position: relative;
  margin: 20px 0 25px;
  padding: 0 0 0 12px;
  width: 600px;
  border-left: 3px solid #f58c12;
}
#registration br {
  display: none;
}
#registration form {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
